body{background-color: blanchedalmond;
}
.number1{background-color: rgb(203, 132, 0);
 margin: 60px auto;
font-size: 30px;
text-align: center;}
h1 {background-color: coral;
font-size: 40px;
text-align: center;}
.title{color: brown;}
.guide{background-color: rgb(203, 132, 0);
margin: 60px auto;
font-size: 30px;}